PORT=8080
MONGO_URL=mongodb://127.0.0.1:27017/ecommerce
JWT_SECRET=your_jwt_secret_here
COOKIE_NAME=coderCookieToken
RESEND_API_KEY=your_resend_api_key_here
MAIL_FROM=onboarding@resend.dev
BASE_URL=http://localhost:8080
